body {
  margin: 0;
  font-family: Gill Sans, sans-serif;
}
* {
  box-sizing: border-box;
}

.tipo {
  color: white;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: black;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 50px;
}

input[type="text"] {
  width: 130px;
  display: block;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 50%;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media input and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.large-header {
  background-position: center;
}

.demo .large-header {
  background-color: black;
}

.main-title {
  margin: 0;
  padding: 0;
  color: #779fc4;
  text-align: center;
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #123f72;
  position: sticky;
  z-index: 99;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #12305b;
  color: white;
}

.MainContent {
  margin: 5px 5px;
  column-gap: 8px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.image:hover {
  opacity: 0.3;
  cursor: pointer;
  transition: 0.4s ease;
}

/*Responsive screen*/
/* large screens */
@media only screen and (min-width: 1024px) {
  .MainContent {
    column-count: 4;
  }
}

/* medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .MainContent {
    column-count: 3;
  }
}

/* small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .MainContent {
    column-count: 2;
  }
}

/* Selecionar o numero de paginas por ecrã*/

.select-page {
  text-align: center;
}

.select-page a {
  background-color: #12305b;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.select-page a:hover {
  background-color: #123f72;
}

.select-page a.active {
  background-color: #8da9c4;
  color: white;
}

/* Escolher o numero de paginas*/

.custom-select {
  position: static;
  text-align: right;
}

.custom-select select {
  background-color: #12305b;
  color: #fff;
  padding: 10px;
  width: 200px;
  height: 40px;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

.MyButton {
  -moz-box-shadow: inset 1px -7px 13px -50px #23395e;
  -webkit-box-shadow: inset 1px -7px 13px -50px #23395e;
  box-shadow: inset 1px -7px 13px -50px #23395e;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #2e466e),
    color-stop(1, #415989)
  );
  background: -moz-linear-gradient(top, #2e466e 5%, #415989 100%);
  background: -webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
  background: -o-linear-gradient(top, #2e466e 5%, #415989 100%);
  background: -ms-linear-gradient(top, #2e466e 5%, #415989 100%);
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
  background-color: #2e466e;
  border: 2px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 13px 13px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #263666;
}
.MyButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #415989),
    color-stop(1, #2e466e)
  );
  background: -moz-linear-gradient(top, #415989 5%, #2e466e 100%);
  background: -webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
  background: -o-linear-gradient(top, #415989 5%, #2e466e 100%);
  background: -ms-linear-gradient(top, #415989 5%, #2e466e 100%);
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
  background-color: #415989;
}
.MyButton:active {
  position: relative;
  top: 1px;
}
